*{
    padding: 0px;
    margin: 0px;
}


.main{
    border: 1px solid;
    height: 800px;
    background-color: rgb(33, 32, 32);
}



.body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}


.navBar{
    display: flex;
    position: relative;
    height: 100px;
    align-items: center;
}

.right-nav{
   position: absolute;
   left: 0px;
   height: auto;
   width: 171px;
   display: flex;
   justify-content: center;
}

.logo{
    height: 40px;
}



.left-nav{
    position: absolute;
    right: 0px;
    height: auto;
    display: flex;
    align-items: center;
    width: 305px;
}

.lang{
    width: 140px;
    margin-right: 10px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
}

.fa-language{
    position: absolute;
    left: 22px;
    top: 8px;
}

.lang-select{
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 25px;
}





.sign-up{
    width: 140px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 25px;
    color: black;
}

.nav-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 35%;
    margin: auto;
    background-color: #0c0c0c;
    color: white;
    border-radius: 50px;
}

.item-nav-main{
    display: flex;
    text-decoration: none;
    gap: 33px;
    margin: auto;
}


.item-nav-main a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}



/* box main inside the nav bar */

.box-main{
      height: 600px;
      width: 90%;
      margin: auto;
      border-radius: 25px;
      margin-top: 30px;
      color: white;
      background-image: url("bg.jpg");
      background-size: cover;
      border: 2px double #504d4d;
}


.box-subdiv{
      height: 500px;
      width: 100%;
      border-radius: 25px;
      margin: auto;
      opacity: 0.7;
      background-color: rgb(0, 0, 0);
      padding-top: 100px;
}


.box-subdiv .heading{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
}


.box-subdiv .heading2{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}

.box-subdiv p{
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}


.box-subdiv .subdiv-btn{
    margin: auto;
    height: 50px;
    width: 40%;
    display: flex;
    gap:10px;
    margin-top: 10px;
    align-items: center;
    justify-self: center;
}

.box-subdiv .subdiv-btn .email{
    height: 47px;
    width: 60%;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding-left: 21px;
}

.box-subdiv .subdiv-btn .start-btn{
    height: 100%;
    width: 35%;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 18px;
    background-color: red;
    letter-spacing: 1px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
